body {
  background-image: linear-gradient(to right, #c6ffdd, #fbd786, #f7797d);
}

h1 {
  padding-top: 25px;
  font-family: impact;
  font-size: 1.5em;
  text-transform: uppercase;
  color: black;
  letter-spacing: 1px;
  text-shadow: 2px 2px 0 white,
  -2px 2px 0 white,
  2px -2px 0 white,
  -2px 2px 0 white,
  0px 2px 0 white,
  2px 0px 0 white,
  0px -2px 0 white,
  -2px 0px 0 white,
  2px 2px 5px white;
}

#dadJoke {
  font-size: 22px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-style: italic;
}

#memeUrl {
  height: 250px;
  width: 250px;
}

.btn {
  background-color: rgb(5, 5, 5);
  border: none;
  color: rgb(250, 249, 249);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  border-radius: 16px;
}

.memepage {
  position: relative;
  text-align: center;
  color: rgb(4, 3, 3);
}

#displayBottomText {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: impact;
  font-size: 1.5em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow: 2px 2px 0 #000,
  -2px 2px 0 #000,
  2px -2px 0 #000,
  -2px 2px 0 #000,
  0px 2px 0 #000,
  2px 0px 0 #000,
  0px -2px 0 #000,
  -2px 0px 0 #000,
  2px 2px 5px #000;
}

#displayTopText{
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: impact;
  font-size: 1.5em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow: 2px 2px 0 #000,
  -2px 2px 0 #000,
  2px -2px 0 #000,
  -2px 2px 0 #000,
  0px 2px 0 #000,
  2px 0px 0 #000,
  0px -2px 0 #000,
  -2px 0px 0 #000,
  2px 2px 5px #000;
}

.btn:hover {
  background-image: linear-gradient(to right, #B7F8DB, #80d0c7);
}

input[type=submit]:hover {
  background-image: linear-gradient(to right, #B7F8DB, #80d0c7);
}

input {
  border: 1px solid #000;
  width: 200px;
  padding: 20px;
  font-size: 20px;
}

#topText::-webkit-input-placeholder {
  border-style:solid;
  border-width:medium;
}

#bottomText::-webkit-input-placeholder {
  border-style:solid;
  border-width:medium;
}

input[type=submit] {
  background-color: rgb(3, 3, 3);
  border: none;
  color: rgb(250, 249, 249);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
}